 *{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    display: flex;
    place-items: center;
    min-height: 100vh;

}
main{
    display: grid;
    grid-template-areas: 
    'A A B'
    'A A B'
    'C D D'
    'C E E'
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
}
main div{
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
}
.item-A{
    background-color: orangered;
    grid-area: A;
}
.item-B{
    background-color: yellow;
    grid-area: B;
}
.item-C{
    background-color: #00DA92;
    grid-area: C;
}
.item-D{
    background-color: #04CEFA;
    grid-area: D;
}
.item-E{
    background-color: #04CEFA;
    grid-area: E;
}

